<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      xmlns:sl="http://www.nlog-project.org/schemas/NLog.Targets.Syslog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn" internalLogFile="c:\Temp\nlog-internal.log">
  <variable name="appName" value="FidelityEmail" />
  <extensions>
    <add assembly="NLog.Targets.Syslog" />
  </extensions>
  <targets>
    <target name="console" xsi:type="Console" layout="${longdate}|${level}|${message}"/>
    <target name="file" xsi:type="File" fileName="${basedir}/file.txt" layout="${longdate}|${level}|${message}"/>
    <target xsi:type="sl:Syslog" name="syslog" layout="${longdate}|${level}|${message}">
      <sl:messageSend>
        <sl:protocol>UDP</sl:protocol>
        <sl:udp>
          <sl:server>10.1.50.93</sl:server>
          <sl:port>514</sl:port>
        </sl:udp>
      </sl:messageSend>
    </target>
    <target xsi:type="sl:Syslog" name="syslogLocal" layout="${longdate}|${level}|${message}">
      <sl:messageSend>
        <sl:protocol>UDP</sl:protocol>
        <sl:udp>
          <sl:server>127.0.0.1</sl:server>
          <sl:port>514</sl:port>
        </sl:udp>
      </sl:messageSend>
    </target>
    <!--<target xsi:type="sl:Syslog" name="syslog">
      <sl:layout xsi:type="SimpleLayout" text="${message}${exception:format=ToString,StackTrace}" />
      <sl:enforcement>
        <sl:splitOnNewLine>true</sl:splitOnNewLine>
        <sl:transliterate>true</sl:transliterate>
        <sl:replaceInvalidCharacters>true</sl:replaceInvalidCharacters>
        <sl:truncateFieldsToMaxLength>true</sl:truncateFieldsToMaxLength>
        <sl:truncateMessageTo>1024</sl:truncateMessageTo>
      </sl:enforcement>
      <sl:messageCreation>
        <sl:facility>Local4</sl:facility>
        <sl:rfc>Rfc3164</sl:rfc>
        <sl:rfc3164 hostname="myHost" tag="myTag" />
      </sl:messageCreation>
      <sl:messageSend>
        <sl:protocol>UDP</sl:protocol>
        <sl:udp>
          <sl:server>127.0.0.1</sl:server>
          <sl:port>514</sl:port>
        </sl:udp>
        <sl:tcp>
          <sl:server>127.0.0.1</sl:server>
          <sl:port>514</sl:port>
          <sl:reconnectInterval>3</sl:reconnectInterval>
          <sl:framing>octetCounting</sl:framing>
        </sl:tcp>
      </sl:messageSend>
    </target>-->
    <!--<target xsi:type="Mail" name="email" to="josh.d.kofoot@rrd.com" smtpAuthentication="Basic" smtpUserName="Veradministrator" smtpPassword="Password$" smtpServer="cgxsmtprelay01.cgx.net" smtpPort="25"
            subject="A ${level} occured on machine ${machinename}" layout="A ${level} occured on machine ${machinename} on ${date}.${newline}Error Message:${message}${newline}Stack trace:${stacktrace}"
            from="josh.d.kofoot@rrd.com"/>-->
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="console,file,syslog,syslogLocal"/>
    <!--<logger name="error" minlevel="Warn" writeTo="email"/>-->
  </rules>
</nlog>
